* {
    font-family: 'Comfortaa';
    margin: 0;
    box-sizing: border-box;
    --dark-main-color: #340c91;
    --light-main-color: #6182c9;
    --light-shadow-color: #6681db7a; 
    --accent-color: #6fd60e;
    --dark-accent-color: #71b800;
    --accent-shadow-color: #a8ff5754; 
    --light-background-color: #ffffff;
    --dark-background-color: #253fb4a2;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--dark-background-color);
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 350px;
    padding: 50px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px 4px var(--light-shadow-color);
}

.submit-button {
    width: fit-content;
    height: 40px;
    padding: 10px; 
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.05em;
    background-color: var(--light-background-color);
    color: var(--dark-accent-color);
    cursor: pointer;
}


.submit-button:enabled:hover {
    border: 2px solid var(--dark-main-color);
    box-shadow: 0px 0px 4px 2px #33333320;
    color: var(--dark-main-color);
}

.submit-button:enabled:active {
    box-shadow: inset 0px 0px 4px 3px var(--accent-shadow-color);
}

.submit-button:disabled {
    border: 2px solid #a5323280;
    color:#a5323280;
}