.wordsWrapper {
    width:15%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.wordItem {
    width: fit-content;
    border: 1px solid black;
    padding: 7px;
    margin: 5px;
    cursor: pointer;
}

.clicked {
    opacity: 0.5;
}

.checked {
    border: 2px solid black;
    font-weight: 400;
}

.red {
    border: 2px solid red;
    color: red;
}

.green {
    border: 2px solid green;
    color: green;
}

