.inputHeader {
    font-size: 51px;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-align: end;
    color: var(--light-main-color);
}

.inputHeader strong {
    color: var(--dark-main-color);
}

.form {
    position: relative;
    width: 300px;
    margin-bottom: 40px;
}

.input {
    position: absolute;
    right: 0px;
    width: fit-content;
    height: 40px;
    padding: 0px 100px 0px 25px;
    border: 0px;
    border-radius: 20px;
    background-color: var(--light-shadow-color);
    box-shadow: inset 0px 0px 3px 3px var(--light-shadow-color);   
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #333333;
}

.input::placeholder {
    font-weight: 100;
    letter-spacing: 0;
    color: var(--dark-main-color);
}

.input:focus-visible {
    outline: none;
    border: 2px solid var(--light-main-color)
}

.inputButton {
    position: absolute;
    right: 0px;
}

